body{
    background-color: rgb(0, 0, 30);
    color: white;
}


.intro{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    background-color: darkgray;
    color: rgb(70, 0, 20);
    text-shadow: black;
}

.blah{
    font-size:120%;
}

.container{
    position: relative;
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.clicker{
    
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 900;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: auto;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    touch-action: manipulation;
}

#clicker1{
    color: #FFFFFF;
    background-color: #a71fa7;
}

#clicker2{
    color: #000000;
    background-color: #9adaf3;
}

#clicker3{
    color: #000000;
    background-color: #eaff8b;
}

#counter{
    padding: 5px 134px 5px 134px;
}

#value{
    padding: 5px;
    margin-bottom: 30px;
    background-color: slategrey;
    font-weight: bold;
    color: black;
}

#clicker4{
    color: white;
    background-color: #357528;
}

#clicker5{
    color: white;
    background-color: #8a0505;
}

#clicker6{
    color: white;
    background-color: black;
}